  version: "3"

  services:
    db:
      image: postgres:13-alpine
      restart: always
      env_file:
        - .env.example
      volumes:
        - postgres_data:/var/lib/postgresql/data/
      ports:
        - "5432:5432"

<<<<<<< HEAD
    prerun:
      build: ..
      command:
        - /bin/sh
        - -c
        - |
          python manage.py migrate
          python manage.py collectstatic --noinput
      env_file:
        - ../.env.example
      depends_on:
        - db
      volumes:
        - static_volume:/app/static

    web:
      build: ..
      restart: always
      command: gunicorn moneybox.wsgi:application --bind 0.0.0.0:8000
      env_file:
        - ../.env.example
      expose:
        - "8000"
      depends_on:
        - prerun
=======
  prerun:
    build: ..
    command:
      - /bin/sh
      - -c
      - |
        python manage.py migrate
        python manage.py collectstatic --noinput
    env_file:
      - ../.env.example
    depends_on:
      - db
    volumes:
      - static_volume:/app/static

  web:
    build: ..
    restart: always
    command: gunicorn moneybox.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - ../.env.example
    expose:
      - "8000"
    depends_on:
      - prerun
>>>>>>> upstream/main

    nginx:
      image: nginx:1.23-alpine
      restart: always
      volumes:
        - static_volume:/usr/share/nginx/html
        - ./nginx/default.conf:/etc/nginx/nginx.conf
      ports:
        - "80:80"
        - "443:443"
      depends_on:
        - web

  volumes:
    postgres_data:
    static_volume:
