name: CD
on:
  release:
    types: [ published ]
jobs:
  build_backend_and_push_to_docker_hub:
    name: Push backend Docker image to DockerHub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to DockerHub
        uses: docker/build-push-action@v4
        with:
          context: .
          dockerfile: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/moneybox_backend:${{ github.event.release.tag_name }},${{ secrets.DOCKER_USERNAME }}/moneybox_backend:latest
  generate_and_publish_client:
    name: Adding a client to the PYPI repository
    runs-on: ubuntu-latest
    needs: build_backend_and_push_to_docker_hub
    steps:
      - uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Setup all dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine django
          pip install -r requirements/requirements.txt
      - name: Install OpenAPI Generator CLI
        run: npm install @openapitools/openapi-generator-cli -g
      - name: Start server and generate client
        run: |
          docker-compose up -d
          npx openapi-generator-cli generate -i http://127.0.0.1/api/v1/schema/ -g python -o moneybox
      - name: Get Contributors
        id: contributors
        run: |
          CONTRIBUTORS=$(curl -s -H "Accept: application/vnd.github.v3+json" \
            "https://api.github.com/repos/moneybox-ai/django-moneybox/contributors" \
            | jq -r '[.[] | .login] | join(", \n")')
          echo "::set-output name=contributors::$CONTRIBUTORS"
      - name: Update setup.py file
        run: |
          CONTRIBUTORS="${{ steps.contributors.outputs.contributors }}"
          sed -i 's|NAME = "openapi-client"|NAME = "moneybox"|g' moneybox/setup.py
          sed -i 's|VERSION = "1.0.0"|VERSION = "${{ github.event.release.tag_name }}"|g' moneybox/setup.py
          sed -i "s|author=\"OpenAPI Generator community\"|author=\"$CONTRIBUTORS\"|g" moneybox/setup.py
          sed -i 's|author_email=\"team@openapitools.org\"|author_email=\"support@moneybox.com"|g' moneybox/setup.py
          sed -i 's|url=""|url="https://github.com/moneybox-ai/django-moneybox"|g' moneybox/setup.py
          sed -i 's|package_data={"openapi_client": \["py.typed"\]}|package_data={"moneybox": \["py.typed"\]}|g' moneybox/setup.py
      - name: Build and package client and publish PYPI
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          cd moneybox
          python setup.py sdist bdist_wheel
          twine upload --repository pypi dist/*
  send_message:
    runs-on: ubuntu-latest
    needs: generate_and_publish_client
    steps:
      - name: Send message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            pip package released successfully!
